<h1>Your profile</h1>

  <div>
        <h3>{{user.username}}</h3>
        <p>Email: {{user.email}}</p>

    <div>
    <ul>
        {{#each user.favSpot}}

        <li>{{name}}</li>
        <a href='/beers/details/{{_id}}'>Checkout More!</a>

        {{/each}}
    </ul>
    </div>

    <div>
    <ul>
        {{#each user.favBeers}}

        <li>{{name}}</li>
        <a href='/beers/details/{{_id}}'>Checkout More!</a>

        {{/each}}
    </ul>
    </div>

  </div>

  <div class="logout">
    
    <a href="/logout">Log Out</a>
    
    {{!-- <form action="/logout" method="post">
        <button type="submit">Log Out</button>
    </form> --}}
  </div>