{{#each searchBeers}}

    <div>
        <h1>{{this.name}}</h1>
        <img src="{{this.imageUrl}}" alt="beer image">
        <p>{{this.style}}</p>
        <p>{{this.brewery}}</p>
        <p>{{this.brand}}</p>
    </div>


{{/each}}