<div><h1 style="float: left;">What do you want to drink?</h1>
  <div class="create-button">
    <form action="/beers/create" method="get">
      <button class="tag2" type="submit">Create your Beer</button>
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    {{#each beers}}
      <div class="cards col-sm">
        <div class="card-item">
          <div class="card-image">
            <img src="{{imageUrl}}" alt="image of {{name}} beer" />
          </div>
          <div class="card-info">
            <h2 class="card-title">{{name}}</h2>
            <p class="card-intro"><p>Style: {{style}}</p>
              <p class="card-intro">By: {{brand}}</p>
              <a class="card-intro" href="/beers/details/{{_id}}">Checkout More!</a></p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>