<h1>What do you want to drink?</h1>
<div class="create-button">
  <form action="/beers/create" method="get">
  <button type="submit">Create your Beer</button></form>
  </div>

{{!-- {{#each beers}}
  <div>
    <img src="{{imageUrl}}" alt="image of {{name}} beer"/>
    <h3>{{name}}</h3>
    <p>Style: {{style}}</p>
    <p>By: {{brand}}</p>
    <a href='/beers/details/{{_id}}'>Checkout More!</a>

  </div>

{{/each}} --}}


{{!-- --------------------------------------------------------------------- --}}


{{!-- {{#each beers}}
<div class="container">
  <div class="card-deck row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="view-overlay">
          <img src="{{imageUrl}}" alt="image of {{name}} beer"/>
        <div class="mask rgba-white-slight"></div>
    <div class="card-body">
    <h3>{{name}}</h3>
    <p>Style: {{style}}</p>
    <p>By: {{brand}}</p>
    <a href='/beers/details/{{_id}}'>Checkout More!</a>
    </div>
    </div>
    </div>
  </div>
  </div>
</div>
{{/each}} --}}


{{#each beers}}
<div class="container">
  <div class="cards">
    <div class="card-item">
      <div class="card-image">
        <img src="{{imageUrl}}" alt="image of {{name}} beer"/>
      </div>
      <div class="card-info">
        <h2 class="card-title">{{name}}</h2>
        <p class="card-intro"><p>Style: {{style}}</p>
    <p>By: {{brand}}</p>
    <a href='/beers/details/{{_id}}'>Checkout More!</a></p>
      </div>
    </div>
  </div>
  {{/each}}