<link rel="stylesheet" href="/stylesheets/create.css" />

<div class="page-title">
    <h1>Create your poison:</h1>
</div>

<div class="create-pages">
  
  <form id="beer-create" action="/beers/create" method="POST" enctype="multipart/form-data">
    
    <div class="general-create-form">
      <label for=""><strong>Name:</strong></label>
      <input class="boxes" type="text" name="name" id="" value="{{beer.name}}" />
    </div>

    {{! adding the picture of the beer }}
    <div class="general-create-form">
      <label for="imageUrl"><strong>Image:</strong>
        <input class="image-box" type="file" name="imageUrl" value="{{beer.imageUrl}}" />
      </label>
    </div>

    <div class="general-create-form">
      <label for="style"><strong>Style:</strong></label>
      <input class="boxes" type="text" name="style" id="style" value="{{beer.style}}" />
    </div>

    <div class="general-create-form">
      <label for="brewery"><strong>Brewery:</strong></label>
      <input class="boxes" type="text" name="brewery" id="brewery" value="{{beer.brewery}}" />
    </div>

    <div class="general-create-form">
      <label for="brand"><strong>Brand:</strong></label>
      <input class="boxes" type="text" name="brand" id="brand" value="{{beer.brand}}" />
    </div>

    <div class="general-create-form">
      <label for="quantity"><strong>Quantity:</strong></label>
      <input class="boxes" type="text" name="quantity" id="quantity" value="{{beer.quantity}}"/>
    </div>

    <div class="general-create-form">
      <label for="abv"><strong>ABV:</strong></label>
      <input class="boxes" type="text" name="abv" id="abv" value="{{beer.abv}}" />
    </div>

    <div class="general-create-form">
      <label for="description"><strong>Description:</strong></label>
      <textarea class="boxes" name="description" id="description" cols="30" rows="2"></textarea>
    </div>

    <div class="general-create-form">
      {{! array of restaurants in the database }}
      {{!-- <label for="">Bar:</label> --}}
      <label for="restaurantId"><strong>Where were you?:</strong></label>
      <select class="boxes" name="restaurantId">
        {{#each restaurants}}
          <option  class='restaurants' value="{{_id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="general-create-form">
      <button class="tag2" type="submit"><strong>Add your special beer</strong></button>
    </div>

  </form>

</div>



<!-- Bubbles Pen https://codepen.io/Paolo-Duzioni/pen/MQmbJo-->
<div class="bottom-particles">
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
</div>
<div id="foam"></div>
{{!-- <h1 class="text-light">CSS Beer</h1>
<p class="text-light">Original bubbles by Paulo Duzioni</p> --}}

