{{!-- <h1>Discover more about this Beer</h1>
<div class="container">
  <div class="card-deck row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="view-overlay">
          <img src="{{imageUrl}}" alt="image of {{name}} beer" />
          <div class="mask rgba-white-slight"></div>
          <div class="card-body">
            <h3>{{name}}</h3>
            <p>Style: {{style}}</p>
            <p>Brewery: {{brewery}}</p>
            <p>Descripton: {{description}}</p>
            <p>Quantity: {{quantity}}</p>
            <p>ABV: {{abv}}</p>
            <p>By: {{brand}}</p>
            <form action="/beers/details/{{_id}}" method="post">
              <button type="submit">Add to favs</button></form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}

{{!-- <div>
    <img src="{{imageUrl}}" alt="image of {{name}} beer" />
    <h3>{{name}}</h3>
    <p>Style: {{style}}</p>
    <p>Brewery: {{brewery}}</p>
    <p>Descripton: {{description}}</p>
    <p>Quantity: {{quantity}}</p>
    <p>ABV: {{abv}}</p>
    <p>By: {{brand}}</p>


    <form action="/beers/details/{{_id}}" method="post">
      
      <input type="checkbox" />
      <i class="icon-heart">
        <i class="icon-plus-sign"></i>
      </i>

    </form>
    
  </div> --}}



  <h1>Discover more about this Beer</h1>


  <form action="/beers/details/{{_id}}" method="post">
  
    <label for="restaurantId">Select Restaurant:</label>
    
    <select name="restaurantId">

      {{#each allRestaurants}}
        <option  class='restaurants' value="{{_id}}">{{name}}</option>
      {{/each}}

    </select>

    <button type="submit">Add to Restaurant</button>
  </form>

  
<div class="container">
  <div class="cards">
    <div class="card-item">
      <div class="card-image">
       
          <img src="{{imageUrl}}" alt="image of {{name}} beer" />

      </div>
          <div class="card-info">
          
            <h3 class="card-title">{{name}}</h3>
            <p>Style: {{style}}</p>
            <p>Brewery: {{brewery}}</p>
            <p>Descripton: {{description}}</p>
            <p>Quantity: {{quantity}}</p>
            <p>ABV: {{abv}}</p>
            <p>By: {{brand}}</p>

            <div>
              <h5>Where to drink me:</h5>
              <ul>
                {{#each user.restaurantId}}
                  <li>{{name}}</li>
                {{/each}}
              </ul>
            </div>


            <form action="/beers/details/{{_id}}" method="post">

            {{#if isFav}}
              <button type="submit">Remove from my favourite Beers</button>
            {{else}}
              <button type="submit">Add to my favourite Beers</button>
            {{/if}}

            </form>
          </div>
      
      
    
    </div>
  </div>
</div>