<div class="center-title">
  <h1>More about this Beer:</h1>
  <form action="/beers/details/{{beer._id}}" method="post">
    <label for="restaurantId">Select Restaurant:</label>
    <select name="restaurantId">

      {{#each allRestaurants}}
        <option class="restaurants" value="{{_id}}">{{name}}</option>
      {{/each}}

    </select>

    <button class="tag2" type="submit">Add to Restaurant</button>
  </form>
</div>

<div class="container-2">
  <div class="cards">
    <div class="card-item-2">
      <div class="card-image">

        <img src="{{beer.imageUrl}}" alt="image of {{beer.name}} beer" />

      </div>
      <div class="card-info">

        <h3 class="card-title">{{beer.name}}</h3>
        <p><strong>Style:</strong> {{beer.style}}</p>
        <p><strong>Brewery:</strong>: {{beer.brewery}}</p>
        <p><strong>Description:</strong> <br /> {{beer.description}}</p>
        <p><strong>ABV:</strong><br /> {{beer.abv}}</p>
        <p><strong>By:</strong> <br />{{beer.brand}}</p>

        <div>
          <h5>In a hurry? Where to find me:</h5>
          <ul>
            {{#if beer.restaurantId.length}}
              {{#each beer.restaurantId}}
                <li>{{name}}</li>
              {{/each}}
            {{else}}
              <p>Ups! Nowhere to be found...</p>
              <p>Go look somewhere else... 😔</p>
            {{/if}}
          </ul>
        </div>

        {{#if isFav}}
          <form action="/beers/removeFavs/{{beer._id}}" method="post">
            <button class="tag name" type="submit">Remove from my favourite
              Beers</button>
          </form>
        {{else}}
          <form action="/beers/addFavs/{{beer._id}}" method="post">
            <button class="tag name" type="submit">Add to my favourite Beer</button>
          </form>
        {{/if}}

      </div>
    </div>
  </div>
</div>