<h1>Discover more about this Restaurant</h1>

  <div>
    <img src="{{image}}" alt="image of {{name}} restaurant" />
    <h3>{{name}}</h3>
    <p>Where: {{location.adress}}</p>
    <p>Rating: {{rating}}</p>
    
    
    <p>Reviews: {{reviews}}</p>
    


    <form action="/restaurants/details/{{_id}}" method="post">
      
      {{#if isFav}}
        <button type="submit">Remove from my favourite Restaurants</button>
      {{else}}
        <button type="submit">Add to my favourite Restaurants</button>
      {{/if}}

    </form>
    
  </div>