<link rel="stylesheet" href="/stylesheets/create.css" />

<div class="page-title">
    <h1>Create your spot:</h1>
</div>

<div class="create-pages">

  <form action="/restaurants/create" method="POST" enctype="multipart/form-data">
    
    <div class="general-create-form">
        <label for=""><strong>Name:</strong></label>
        <input class="boxes" type="text" name="name" id="" value="{{restaurant.name}}" />
    </div>

    {{! adding the picture of the restaurant }}
    <div class="general-create-form">
        <label for="image"><strong>Image:</strong>
            <input class="image-box" type="file" name="image" value="{{restaurant.image}}" />
        </label>
    </div>

    <div class="general-create-form">
        <label for="location"><strong>Address:</strong></label>
        <input class="boxes" type="text" name="location" id="location" value="{{restaurant.location}}" />
    </div>

    <div class="general-create-form">
        <label for="rating"><strong>Rating:</strong></label>
        <input class="boxes" type="text" name="rating" id="rating" value="{{restaurant.rating}}" />
    </div>
    
    <div class="general-create-form">
    {{! array of beers in the database }}
    {{!-- <label for="">Bar:</label> --}}
        <label for="restaurantId"><strong>What did you drink?:</strong></label>
        <select class="boxes" name="beerId" multiple>
            {{#each beers}}
                <option  class='restaurants' value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="general-create-form">
        <button class="tag2" type="submit"><strong>Add your special bar</strong></button>
    </div>

  </form>
</div>



<!-- Bubbles Pen https://codepen.io/Paolo-Duzioni/pen/MQmbJo-->
<div class="bottom-particles">
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
</div>
<div id="foam"></div>
{{!-- <h1 class="text-light">CSS Beer</h1>
<p class="text-light">Original bubbles by Paulo Duzioni</p> --}}

