<h1>Discover more about this Restaurant</h1>

  <div>
    <img src="{{restaurant.image}}" alt="image of {{restaurant.name}} restaurant" />
    <h3>{{restaurant.name}}</h3>
    <p>Where: {{restaurant.location.adress}}</p>
    <p>Rating: {{restaurant.rating}}</p>

    <div>
      <h5>Feeling thirsty? See what you can drink:</h5>
        <ul>
          {{#each restaurant.beerId}}
            <li>{{name}}</li>
          {{/each}}
        </ul>
    </div>
    
    
    <p>Reviews: {{restaurant.reviews}}</p>
    

      
      {{#if isFav}}
        <form action="/restaurants/removeFavs/{{restaurant._id}}" method="post">
          <button type="submit">Remove from my favourite Restaurants</button>
        </form>
      {{else}}
        <form action="/restaurants/addFavs/{{restaurant._id}}" method="post">
          <button type="submit">Add to my favourite Restaurants</button>
        </form>
      {{/if}}

    </form>
    
  </div>